#adminlogin{
   
    color: white;
    margin-top: 21px;
    background-color: #e09247;
    width:800px;;
   height: 295px;
    //margin-left: -10px;
    text-align: center;
    
    
   
}
#adminlogin h2{
    //margin-left: 15px;
    margin-top: 60px;
    padding: 30px;
    
}
#adminlogin p{
    font-size: 1.3em;
}
#mail{
    margin-left: 40px;
    width: 300px;
}
#pass{
    margin-left: 20px;
    width: 300px;
}

input[type=submit]{
    font-size: 1em;
    background-color: #0a908f;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding:10px;
    margin-left: 10px;
    border: none;
    
    
}