#compare{
    margin-top: 70px;
    margin-bottom: 30px;
}
#compare h2{
   // text-align: center;
    color: navy;
}
#compare img{
    margin-top: 0px;
    margin-left: 10px
}
#com{
    margin-left: 30px;
    border: 1.5px solid orange ;
    border-radius: 5px;
    height: 35px;
    width: 350px;
}
#facebook1{
    margin-left: 15px;
    margin-top: -10px;
}

#twitter1 {
    /background-color: white;
    margin-left: 20px;
}

#images1{
    margin-left: 55px;
    
}
#images1 img{
    margin-top: -100px;
}
.like {
    background-color: #e09247;
     width: 325px;
    height: 450px;
    margin-top: -400px;
    margin-left: 875px;
    margin-bottom: -12px;
    
}
.like h3{
    color: navy;
    margin-left: 15px;
    
    padding: 10px;
}
#fam1 img{
    padding: 5px;
    margin-left: 10px;
    margin-top: -15px
}